/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap");
@import url("https://unpkg.com/photoswipe@5.2.2/dist/photoswipe.css");
/*===== VARIABLES CSS =====*/
:root {
  --header-height: 5rem;

  /*========== Colors ==========*/
  --first-color: #3a781b;
  --first-color-alt: #3a781b;
  --first-color-send: #88b57b;
  --title-color: #72b351;
  --nav-color: #b47129;
  --text-color: #5b5757;
  --text-color-light: #8f8a8a;
  --body-color: #fff;
  --container-color: #fff;

  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif;
  --welcome-font: "Protest Riot", sans-serif;
  --biggest-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;

  /*========== Font weight ==========*/
  --font-semi-bold: 600;
  --font-bold: 700;

  /*========== Margenes ==========*/
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
  /*========== z index ==========*/

  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 3rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
  }
}

/*========== BASE ==========*/
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  line-height: 1.6;
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
}

h1,
h2 {
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

h3 {
  font-weight: var(--font-semi-bold);
  color: var(--first-color-alt);
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*========== CLASS CSS ==========*/
.section {
  padding: 4rem 0 2rem;
}

.section-title,
.section-title-center {
  font-size: var(--h2-font-size);
  color: var(--title-color);
  text-align: center;
  margin-bottom: var(--mb-3);
}

/*========== LAYOUT ==========*/
.l-main {
  overflow: hidden;
}

.bd-container {
  max-width: 968px;
  width: calc(100% - 3rem);
  margin-left: var(--mb-3);
  margin-right: var(--mb-3);
}

.bd-grid {
  display: grid;
  gap: 1.5rem;
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}

/*========== NAV ==========*/
.nav__logo {
  margin-top: 1rem;
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    right: 0;
    width: 90%;
    margin: 0 auto;
    padding: 2.5rem 0 0;
    text-align: center;
    background-color: var(--body-color);
    transition: 0.4s;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    z-index: var(--z-fixed);
  }

  .nav {
    height: calc(var(--header-height) + 1rem);
  }
}

.nav__item {
  margin-bottom: var(--mb-3);
}

.nav__link,
.nav__logo,
.nav__toggle {
  color: var(--nav-color);
  font-weight: var(--font-semi-bold);
}

.nav__logo:hover {
  color: var(--first-color);
}

.nav__link {
  transition: 0.3s;
}

.nav__link:hover {
  color: var(--first-color);
}

.nav__toggle {
  font-size: 1.3rem;
  cursor: pointer;
}

/* Show menu */
.show-menu {
  top: calc(var(--header-height) + 1rem);
}

/* Active menu link */
.active-link {
  position: relative;
}

.active-link::before {
  content: "";
  position: absolute;
  bottom: -0.75rem;
  left: 45%;
  width: 5px;
  height: 5px;
  background-color: var(--title-color);
  border-radius: 50%;
}

/* Change background header */
.scroll-header {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

/* Scroll top */
.scrolltop {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
  background: rgba(56, 185, 127, 0.5);
  border-radius: 0.4rem;
  z-index: var(--z-tooltip);
  transition: 0.4s;
  visibility: hidden;
}

.scrolltop:hover {
  background-color: var(--first-color);
}

.scrolltop__icon {
  font-size: 1.5rem;
  color: var(--body-color);
}

.show-scroll {
  visibility: visible;
  bottom: 1.5rem;
}

/*========== HOME ==========*/
.home {
  padding-top: var(--header-height);
}

.home__container {
  row-gap: 0.5rem;
}

.home__img {
  width: 280px;
  justify-self: center;
}

.home__title {
  font-weight: var(--font-bold);
  margin-bottom: var(--mb-2);
}

/*========== BUTTONS ==========*/
.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  font-weight: var(--font-semi-bold);
  transition: 0.3s;
}

.button:hover {
  background-color: var(--first-color-alt);
}

.button-link {
  background: none;
  padding: 0;
  color: var(--first-color-alt);
}

.button-link:hover {
  background-color: transparent;
  color: var(--first-color);
}

/*========== mapa ==========*/
.mapa__container {
  padding-top: 3rem;
  justify-items: center;
}

/*========== contact ==========*/
.contact__container {
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.contact__data {
  text-align: center;
  padding: 1rem 1rem 2rem;
  background-color: var(--container-color);
  box-shadow: 0 2px 6px rgba(65, 11, 16, 0.15);
  border-radius: 1rem;
}

.contact__data:hover {
  box-shadow: 0 3px 12px rgba(65, 11, 16, 0.15);
}

.contact__img {
  width: 90px;
}

.contact__title {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-1);
}

.contact__description {
  margin-bottom: var(--mb-2);
}

/*========== about_us ==========*/
.about_us__data {
  text-align: center;
}

.about_us__description {
  margin-bottom: var(--mb-2);
}

.about_us__img {
  width: 280px;
  justify-self: center;
}

/*========== DECORATION ==========*/
.decoration__container {
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.decoration__data {
  text-align: center;
  padding: 2rem 1rem 2rem;
  background-color: var(--container-color);
  box-shadow: 0 2px 6px rgba(65, 11, 16, 0.15);
  border-radius: 1rem;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr;
}

.decoration__data:hover {
  box-shadow: 0 3px 12px rgba(65, 11, 16, 0.15);
}

.decoration__img {
  border: 0px solid #000000; /* Black border */
  border-radius: 20px;
  height: 200px;
}

.decoration__title {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-1);
}

/*========== ACCESSORIES ==========*/
.offer__container {
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 2rem;
}

.offer__content {
  position: relative;
  display: grid;
  box-shadow: 0 2px 6px rgba(65, 11, 16, 0.15);
  border-radius: 1rem;
  height: 12rem;
  width: auto;
}

#offer__content__image__1 {
  background-image: url("../img/gallery_1.webp"); /* Link to your image */
  background-size: cover;
  background-position: center;
}

#offer__content__image__2 {
  background-image: url("../img/gallery_2.webp"); /* Link to your image */
  background-size: cover;
  background-position: center;
}

#offer__content__image__3 {
  background-image: url("../img/gallery_3.jpeg"); /* Link to your image */
  background-size: cover;
  background-position: center;
}
#offer__content__image__4 {
  background-image: url("../img/gallery_4.webp"); /* Link to your image */
  background-size: cover;
  background-position: center;
}
#offer__content__image__5 {
  background-image: url("../img/gallery_5.jpeg"); /* Link to your image */
  background-size: cover;
  background-position: center;
}
#offer__content__image__6 {
  background-image: url("../img/gallery_6.jpeg"); /* Link to your image */
  background-size: cover;
  background-position: center;
}

.offer__content:hover {
  box-shadow: 0 3px 12px rgba(65, 11, 16, 0.15);
}

.offer__img {
  width: auto;
  height: 100%;
}

.offer__title,
.offer__category {
  text-align: center;
}

.offer__title {
  font-size: var(--normal-font-size);
}

.offer__category {
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-1);
  color: var(--text-color-light);
}

.offer__button {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  font-size: 1.25rem;
  padding: 0.5rem 0.625rem;
  border-radius: 1rem 0 1rem 0;
}

/*========== SEND GIFT ==========*/
.send__title {
  /* color: #000; */
}

.send__content {
  font-family: var(--welcome-font);
  justify-self: center;
}

/*========== FOOTER ==========*/
.footer__copy {
  text-align: center;
  font-size: var(--small-font-size);
  color: var(--text-color-light);
  margin-top: 3rem;
  margin-bottom: 1rem;
}

/*========== MEDIA QUERIES ==========*/

/* For full-screen images on small screens */
@media screen and (max-width: 359px) {
  .home__img,
  .about_us__img,
  .send__img {
    width: 100%;
  }
}

@media screen and (min-width: 576px) {
  .home__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .send__container {
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
  }

  .about_us__container {
    grid-template-columns: 0fr 1fr;
  }

  .home__container {
    padding: 5rem 0 0;
  }

  .home__img {
    order: 1;
  }

  .section-title-center,
  .about_us__data,
  .send__description {
    text-align: initial;
  }

  .home__img,
  .about_us__img,
  .send__img {
    width: 100%;
  }

  /* .about_us__img{
    order: -1;
  } */
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }

  .section {
    padding-top: 7rem;
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }

  .nav__list {
    display: flex;
    align-items: center;
  }

  .nav__item {
    margin-left: var(--mb-5);
    margin-bottom: 0;
  }

  .nav__toggle {
    display: none;
  }

  .change-theme {
    position: initial;
    margin-left: var(--mb-4);
  }

  .home__container {
    padding: 0rem 2rem 0;
  }

  .about_us__container {
    padding: 0 2rem;
  }

  .offer__container {
    grid-template-columns: repeat(3, 224px);
    justify-content: center;
  }

  .offer__content {
    padding: 0.5rem 1.5rem 1.5rem;
  }

  .offer__img {
    width: 120px;
    margin-bottom: var(--mb-1);
  }

  .offer__title,
  .offer__category {
    text-align: initial;
  }

  .offer__button {
    padding: 0.75rem;
  }

  .send {
    background: none;
  }

  .send__container {
    padding: 2rem;
    margin-top: 3rem;
    border-radius: 1.5rem;
  }

  .decoration__data {
    grid-template-columns: 1fr 5fr;
  }

  .home {
    padding-top: calc(var(--header-height) + 3rem);
  }
}

@media screen and (min-width: 968px) {
  .bd-container {
    margin-left: auto;
    margin-right: auto;
  }

  .home__img,
  .send__img {
    width: 469px;
  }

  .home__container,
  .send__container {
    column-gap: 5rem;
  }

  .about_us__img {
    width: 200px;
  }

  .about_us__container {
    column-gap: 1rem;
  }
}
